<!DOCTYPE html>
<html>
  <head>
    <title>MEA Web</title>
    <!-- 引入外部 CSS -->
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='MEA.css') }}" />
    <!-- 如果是只用live sever测试前端，请用下面的路径 -->
    <!-- <link
      rel="icon"
      type="image/x-icon"
      href="../static/favicon.ico"
    />
    <link rel="stylesheet" href="../static/MEA.css"> -->
  </head>

  <body>
    <!-- 左侧 -->
    <div class="left-panel">
      <div class="tab-buttons">
        <button class="tablinks" data-tab="Tab1">Raw Data Explorer</button>
        <button class="tablinks" data-tab="Tab2">Heated Map</button>
        <button class="tablinks" data-tab="Tab3">Filtered Signal</button>
      </div>

      <div id="Tab1" class="tabcontent">
        <div class="input-button-group">
          <button id="submitBtn" class="round-button">
            <img
              src="{{ url_for('static', filename='folder.svg') }}"
              alt="Stickman"
              width="22"
              height="35"
            />
          </button>

          <input type="text" id="filename" class="edit-field" disabled />

          <!-- 如果是只用live sever测试前端，请用下面的路径 -->
          <!-- <button id="submitBtn" class=" round-button"><img src="../static/folder.svg" alt="Stickman" width="22" height="35"></button> -->
        </div>
        <div id="output"></div>

        <div class="spinner-group">
          <label for="total_time">Total Time:</label>
          <input
            type="text"
            id="total_time"
            class="number-spinner"
            disabled
          />
        </div>

        <div class="spinner-group">
          <label for="voltage1">Voltage(μV):</label>
          <input
            type="number"
            id="voltage1"
            class="number-spinner"
            value="70"
            step="1"
            min="-1000"
            max="1000"
          />
        </div>

        <div class="spinner-group">
          <label for="start_time1">Start Time:</label>
          <input
            type="number"
            id="start_time1"
            class="number-spinner"
            value="1"
            step="1"
            min="-1000"
            max="1000"
          />
        </div>

        <div class="spinner-group">
          <label for="time_interval1">Time Interval:</label>
          <input
            type="number"
            id="time_interval1"
            class="number-spinner"
            value="0.1"
            step="1"
            min="-1000"
            max="1000"
          />
        </div>

        <div class="spinner-group">
          <label for="tab1">Tab:</label>
          <input
            type="number"
            id="tab1"
            class="number-spinner"
            value="44"
            step="1"
            min="-1000"
            max="1000"
          />
        </div>

        <button id="plot1" style="margin-top: 20px">Plot</button>
      </div>

      <div id="Tab2" class="tabcontent">
        <button id="discharge_detection" style="margin-top: 20px">
          Discharge Detection
        </button>
        <div id="discharge_detection_result"></div>

        <div class="spinner-group" title="不可手动修改">
          <label for="detection_result">放电次数:</label>
          <input
            type="text"
            id="detection_result"
            class="number-spinner"
            value="未检测"
            disabled
          />
        </div>

        <div
          class="spinner-group"
          id="epoch-group"
          title="执行Discharge Detection后方可填入"
        >
          <label for="epoch">Epoch:</label>
          <input
            type="number"
            id="epoch"
            class="number-spinner"
            step="1"
            min="1"
            max="1000"
            disabled
          />
        </div>

        <div class="spinner-group" title="不可手动修改">
          <label for="time">Time:</label>
          <input
            type="number"
            id="time"
            class="number-spinner"
            disabled
          />
        </div>
    

        <button id="plot2" style="margin-top: 20px">Plot</button>
        <button id="arrow" style="margin-top: 20px">Arrow</button>
      </div>

      <div id="Tab3" class="tabcontent">
        <div class="spinner-group">
          <label for="voltage3">Voltage:</label>
          <input
            type="number"
            id="voltage3"
            class="number-spinner"
            value="0.0001"
            step="1"
            min="-1000"
            max="1000"
          />
        </div>

        <div class="spinner-group">
          <label for="start_time3">Start Time:</label>
          <input
            type="number"
            id="start_time3"
            class="number-spinner"
            value="1"
            step="1"
            min="-1000"
            max="1000"
          />
        </div>

        <div class="spinner-group">
          <label for="time_interval3">Time Interval:</label>
          <input
            type="number"
            id="time_interval3"
            class="number-spinner"
            value="1"
            step="1"
            min="-1000"
            max="1000"
          />
        </div>

        <div class="spinner-group">
          <label for="tab3">Tab:</label>
          <input
            type="number"
            id="tab3"
            class="number-spinner"
            value="44"
            step="1"
            min="-1000"
            max="1000"
          />
        </div>

        <button id="plot3" style="margin-top: 20px">Plot</button>
      </div>
    </div>

    <div class="right-panel">
      <div class="panel" id="panel1">
        <canvas id="panel1Canvas"></canvas>
      </div>

      <div class="panel" id="panel2">
        <!-- <canvas id="panel2Canvas"></canvas> -->

        <svg id="panel2SVG" style="width: 90%; height: 90%">
          <!-- 最底层：热力图 -->
          <g id="heatmapLayer"></g>
          <!-- 中间层：边框 + 电极 -->
          <g id="layoutLayer"></g>
          <!-- 最上层：箭头 -->
          <g id="arrowsLayer"></g>
        </svg>
      </div>

      <div class="panel" id="panel3">
        <canvas id="canvas1" class="plot-canvas"></canvas>
      </div>

      <div class="panel" id="panel4">
        <canvas id="canvas2" class="plot-canvas"></canvas>
      </div>
    </div>

    <script
      type="module"
      src="{{ url_for('static', filename='main.js') }}"
    ></script>
    <!-- 如果是只用live sever测试前端，请用下面的路径 -->
    <!-- <script type="module" src="../static/main.js"></script> -->
  </body>
</html>
